<div class="table-container flex flex-col justify-between h-full">
  <table class="min-w-full table-auto border-collapse bg-white border border-gray-300">
    <thead class="bg-gray-100 border-b border-gray-300">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider w-2/12">Name</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider w-2/12">Status</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider w-2/12">Due Date</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider w-2/12">Category Name</th>
        <th></th>
        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider w-5/12">Description</th>
        <th class="px-6 py-3 text-right text-xs font-medium text-black uppercase tracking-wider w-1/12">Action</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% tasks.each do |task| %>
        <tr id="task_row_<%= task.id %>">
          <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800"><%= task.title %></td>
          <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800"><%= task.status.titleize %></td>
          <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800"><%= task.due_date.strftime("%d %b %Y") %></td>
          <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800"><%= task.category.name %></td>
          <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
            <% unless task.completed? %>
              <%= button_to "Mark as Completed", mark_as_completed_task_path(task), method: :patch, class: "text-indigo-600 hover:text-indigo-900", data: { turbo: true } %>
            <% end %>
          </td>
          <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800">
            <%= truncate(task.description, length: 70) %>
          </td>
          <td class="px-6 py-3 whitespace-nowrap text-right text-sm relative" data-controller="dropdown">
            <button class="text-gray-600 hover:text-gray-700" id="action-<%= task.id%>" data-action="click->dropdown#toggle">
              <i class="fa-solid fa-ellipsis fa-2x"></i>
            </button>
            <div data-dropdown-target="menu" class="hidden absolute right-0 mt-2 w-32 bg-white rounded-md shadow-lg z-50">
              <ul>
                <li>
                  <%= link_to task_path(task), class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full" do %>
                    <i class="fas fa-eye mr-2"></i> View
                  <% end %>
                  </li>
                <li>
                  <%= link_to edit_task_path(task), class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full" do %>
                    <i class="fas fa-edit mr-2"></i> Edit
                  <% end %>
                </li>
                <li>
                  <div data-controller="modal">
                    <button class="text-gray-700 flex items-center px-4 py-2 text-sm hover:bg-gray-100 w-full" data-action="click->modal#open" data-id="<%= task.id %>">
                      <i class="fa fa-trash mr-2"></i> Delete
                    </button>
                    <%= render 'shared/delete_modal', record: task, delete_path: task_path(task) %>
                  </div>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
